name: Release Mac Version

on:
  workflow_dispatch:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
    branches-ignore:
      - '*'

jobs:
  release-macos:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: macos-latest
    environment: production
    steps:
      - uses: actions/checkout@v3
      - name: Install libvips
        run: |
          brew install vips
      - name: Golang Installation
        uses: actions/setup-go@v3
        with:
          go-version: '1.18'
      - name: Golang setup dependency
        run: |
          go version
          go install github.com/markbates/pkger/cmd/pkger@latest
      - name: Golang build
        run: |
          cd src && pkger && go build -o darwin-amd64
      - name: Deploy artifact to release ${{ github.ref_name }}
        uses: AButler/upload-release-assets@v2.0
        with:
          files: 'src/darwin-amd64'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          release-tag: ${{ github.ref_name }}
